<h1>Product</h1>

<%= link_to "Back", "/products" %>

<p>
  <strong>Name:</strong><br>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @product.description %>
</p>

<p>
  <strong>Price(in cents):</strong><br>
  <%= @product.price_in_cents %>
</p>